test{ font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-image: url(https://1.bp.blogspot.com/-Go1npG4Bd50/XWEovXW24BI/AAAAAAABFI4/71oHjfS8JqEqnOdGlnXe7bHLmaTUykCPgCLcBGAs/s1600/yona.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#div1{
    background-color: rgba(255, 215, 163, 0.651);
    width: 800px;
    margin-left: 250px;
    margin-top: 30px;
}
#botao{
    color: rgb(0, 0, 0);
}
