#img1{
    width: 30vw;
 }
 .oi{
    display: flex;
    align-items: center;
    font-size: medium;
    text-decoration: underline;
    text-align: end;
 }
#ti{
    text-align: center;
}
.conteudo{
    width: 60vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
#gifer{
    width: 30vw;
    margin-left: 15vw;
    margin-right: 15vw;
}