.home h3{
    margin-top: 14vh;
}
.nana{
    font-family: "Navivi";
    font-size: smaller;
}
header ul li a{
    color: #000;
    padding: 20px 15px;
    transition: all .2s;
}
header ul li a:hover{
    background: rgb(218, 157, 215);
    color: rgb(255, 255, 255);
 }
 @font-face {
    font-family: "Navivi";
    src: url(../font/To\ Japan.ttf);

}
@font-face {
    font-family: "p1";
    src: url(../font/Mangaka.otf);
}
 .home{
    background-color: antiquewhite;
    width: 80vw;
    margin-left: 10vw;
    margin-left: 10vw;
    font-family: "p1" ;

 }
 .dropdown-menu:hover{
    background: rgb(218, 157, 215);
    color: rgb(255, 255, 255);

 }
 #img1{
    margin-left: 40%;
    margin-right: 40%;
    width: 20vw;
    height: 80%;
 }
 body{
    background-image: url(../imgss/tetete.jpg);



 }