#yona{
    height: auto;
}
#pyo{
    background-color: rgb(238, 178, 211);
    width: 50%;
    height: 40%;
    align-items: baseline; 
    margin-left: 400px;

}
table {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
}
.yonaa{
    margin-left: 70px;
    width: 30%;
    height: 20px;
}
body{
    background-color: rgb(247, 248, 176);
}